<div id="groupcode">
<md-card>
	<label>Search Criteria</label>
	<input ng-model="vm.searchCriteria"></input>
	<md-button ui-sref="groupcodedetail2()">Create</md-button>
</md-card>
<md-card>
	<div class="table-responsive">
	<table class="table">
		<thead>  
			<tr>
				<th>id</th>
				<th>description</th>
				<th>creation date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="groupcode in vm.groupcodes | filter:vm.searchCriteria"
			    ui-sref="groupcodedetail2({groupcodeId:groupcode.id})">
			
				<td>{{groupcode.id}} <i class="zmdi zmdi-favorite" ng-if="vm.favGroupcodeService.isFav(groupcode)"></i></td>
				<td>{{groupcode.description}}</td>
			    <td>{{groupcode.createdOn | date:'dd-MM-yyyy h:mma'}}</td>
			</tr>
		</tbody>
	</table>
	</div>
</md-card>
</div>