<div id="groupcode">
	<md-card>
		<form name='form'>
			<md-input-container> 
				<label>Groupcode Id</label>
				<input ng-model="vm.groupcode.id" required name="id"></input> 
				<div ng-messages="form.id.$error" ng-if="form.id.$touched">
					<div ng-message="required">El campo Id es obligatorio</div>
				</div> 
			</md-input-container>
			<md-input-container> 
				<label>Groupcode Description</label> 
				<input ng-model="vm.groupcode.description" required name="description"></input>
				<div ng-messages="form.description.$error" ng-if="form.description.$touched">
					<div ng-message="required">El campo description es obligatorio</div>
				</div> 
			</md-input-container>
			<md-button class="md-primary md-raised" ng-click="vm.save(form)" ng-disabled="!form.$valid">Create</md-button>
			<md-button ui-sref="groupcodes()">Cancel</md-button>
		</form>
	</md-card>
</div>
