<div id="groupcode">
<md-card>
	<label>Search Criteria</label>
	<input ng-model="vm.searchCriteria"></input>
	<md-button ui-sref="groupcodedetail2()">Create</md-button>
	<label>Selected Item: {{vm.selectable.itemSelected()}}</label>
    <md-button ng-click="vm.delete()" ng-disabled="!vm.selectable.itemSelected()">Delete</md-button>
</md-card>
<md-card>
	<div class="table-responsive">
	<table class="table">
		<thead>  
			<tr>
				<th>id</th>
				<th>description</th>
				<th>creation date</th>
				<th>Select</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="groupcode in vm.page.content | filter:vm.searchCriteria"
			    ui-sref="groupcodedetail2({groupcodeId:groupcode.id})">
			
				<td>{{groupcode.id}} <i class="zmdi zmdi-favorite" ng-if="vm.favGroupcodeService.isFav(groupcode)"></i></td>
				<td>{{groupcode.description}}</td>
			    <td>{{groupcode.createdOn | date:'dd-MM-yyyy h:mma'}}</td>
			    <td> 
			    	<md-checkbox type="checkbox"
			    			ng-model="groupcode.selected"
			    			ng-click="vm.selectItem($event,groupcode)">
			    	</md-checkbox>
			    </td>
			</tr>
		</tbody>
	</table>
	<page-navigator pageable="vm"></page-navigator>
	</div>
</md-card>
</div>