<div id="groupcode">
	<md-card ng-if="!vm._isNew()&&!vm.isEdit"> 
		<label>{{vm.groupcode.id}}</label>
		<label>{{vm.groupcode.description}}</label> 
		<i class="zmdi zmdi-favorite" ng-if="vm.favGroupcodeService.isFav(vm.groupcode)"></i>
		<button ng-click="vm.favGroupcodeService.setFav(vm.groupcode)">Add Fav</button>
	    <button ng-click="vm._delete()" >Delete</button>
	    <button ng-click="vm.isEdit=true" >Edit</button>
	</md-card>
	<md-card ng-if="vm.isEdit">
		<form name='form'>
			<md-input-container> 
				<label>Groupcode Id</label>
				<input ng-model="vm.groupcode.id" ng-disabled="true" required name="id"></input> 
				<div ng-messages="form.id.$error" ng-if="form.id.$touched">
					<div ng-message="required">El campo Id es obligatorio</div>
				</div> 
			</md-input-container>
			<md-input-container> 
				<label>Groupcode Description</label> 
				<input ng-model="vm.groupcode.description" required name="description"></input>
				<div ng-messages="form.description.$error" ng-if="form.description.$touched">
					<div ng-message="required">El campo description es obligatorio</div>
				</div> 
			</md-input-container>
			<md-button class="md-primary md-raised" ng-click="vm.save(form)" ng-disabled="!form.$valid">{{vm._isNew()?'Create':'Update'}}</md-button>
			<md-button ng-click="vm._execute()">Cancel</md-button>
		</form>
	</md-card>
</div>
