.datepicker-label {
  margin-bottom: -7px;
}

.error-message {
  font-size: 12px;
  font-family: roboto;
  color: rgb(244, 67, 54);
  position: absolute;
  top: 60px !important;
}

.error-message.crud {
  top: 70px !important;
}

.search-result-not-found-label {
  margin-bottom: 10px;
}

.search-result-not-found-label.events {
  padding-top: 10px;
  padding-left: 10px;
}

.table-icon-font{
  font-size: 15px;
}

#loading-bar {

  .bar {
    background: rgba(117,117,117,0.4) !important;
    height: 65px!important;
    border-bottom-right-radius: 5px!important;
    border-top-right-radius: 5px!important;
  }



}

/*Refactor*/
.card{
  margin: 0;

  .panel{
    a{
      padding: 0;
    }
  }
}

#loading-bar {

  .bar {
    background: rgba(117,117,117,0.4) !important;
    height: 45px!important;
    border-bottom-right-radius: 5px!important;
    border-top-right-radius: 5px!important;
  }

}

#header {
  height: 45px;

  .header-inner {
    padding: 5px 0;
  }

}

body {
  padding-top: 25px !important;
}

ul, ol {
  margin-bottom: 10px !important;
}

[layout-margin],
[layout-margin] > [flex],
[layout-margin] > [flex-gt-sm],
[layout-margin] > [flex-md],
[layout-margin] > [flex-lt-lg] {
  margin: 0 !important;
}

.md-tab {
  padding: 5px 12px !important;
}

md-pagination-wrapper {
  height: 35px !important;
}

md-tabs-canvas {
  height: 35px !important;
}

md-tab-content {
  top: -1px !important;
}

#menu-trigger:before {
  top: 2px;
  left: 9px;
  width: 40px;
  height: 40px;
}

#sidebar {
  top: 45px!important;
  height: calc(100% - 25px);
}

.card .card-header:not(.ch-alt) {
  padding: 10px 12px;
}

.form-card .form-body, .form-fullpage .form-body {
  margin: 0 !important;
  padding: 5px;
  min-height: 100px;
}

.form-card .form-group,
.form-card .form-buttons,
.form-fullpage .form-group,
.form-fullpage .form-buttons {
  padding: 0 5px 5px 5px;
}

.md-button {
  padding: 0;
  margin: 6px 8px;
  min-height: 14px;
  min-width: 65px;
}

.table > thead > tr > th:last-child,
.table > tbody > tr > th:last-child,
.table > tfoot > tr > th:last-child,
.table > thead > tr > td:last-child,
.table > tbody > tr > td:last-child,
.table > tfoot > tr > td:last-child {
  padding-right: 0;
}

.table > thead > tr >th,
.table > tbody > tr > th,
.table > tfoot > tr >th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 0;
}

.table > thead > tr >th > md-checkbox,
.table > tbody > tr > th > md-checkbox,
.table > tfoot > tr >th > md-checkbox,
.table > thead > tr > td > md-checkbox,
.table > tbody > tr > td > md-checkbox,
.table > tfoot > tr > td > md-checkbox {
  margin: 0;
}

.table > thead > tr > th:first-child,
.table > tbody > tr > th:first-child,
.table > tfoot > tr > th:first-child,
.table > thead > tr > td:first-child,
.table > tbody > tr > td:first-child,
.table > tfoot > tr > td:first-child {
  padding-left: 0;
}

.table > tbody > tr:last-child > td,
.table > tfoot > tr:last-child > td {
  padding-bottom: 5px;
}

.card .card-header .actions {
  top: 3px;
}

.card .card-body {
  overflow: hidden;
}

.lvh-search:before {
  top: 3px;
}

.lvhs-input {
  height: 35px;
}

.icon-size-25 {
  list-style: none;
  font-size: 25px;
}

.table-pagination > li:first-child > a,
.table-pagination > li:last-child > a {
  font-size: 25px;
  width: 40px;
  height: 40px;
}

.lvh-select:before {
  position: absolute;
  left: 24px;
  top: 17px;
  font-size: 22px;
  color: #fff;
}

.lvh-select{
  position:absolute;
  top:0;
  left:100%;
  height:100%;
  width:400px;
  margin-left:-480px
}
.table-pagination > li:first-child > a,
.table-pagination > li:last-child > a {
  padding-top: 0;
  padding-left: 0;
}

.table-pager {
  display: inline;
  float: right;
}

md-dialog {
  border-radius: 0;
  md-dialog-content {
    padding: 0;
    overflow: hidden;
  }
}

.editable-table-cell-style {
  height: 75px;
}

.editable-table-cell-style.segments {
  height: 100px;
}

.full-sheet-top-card {
  padding-bottom: 8px !important;
}

.full-sheet-middle-card {
  padding-bottom: 7px !important;
  padding-top: 7px !important;
}

.programming-event-card {
  margin: 0px 5px 0px 5px;
}

.space-between-events-first {
  margin-bottom: 10px;
}
.space-between-events {
  margin-bottom: 20px;
}

.table-primary-events{
  margin-left: 5px;
}

.table-primary-events th {
  text-align: left;
  border-bottom: 0pt !important;
}

.table-primary-events td {
  border-top: 0pt !important;
  border-style: none;
  cursor: auto;
}

.table-primary-events tr:hover {
  background-color: white;
}

.secondary-event-icon {
  cursor: pointer;
  color: #292929;
}
.secondary-event-icon.edit {
  font-size: 20px;
}
.secondary-event-icon.create {
  font-size: 25px;
}
.secondary-event-icon.addBranding {
  font-size: 17px;
  padding-top: 5px;
}

.th-icon-space {
  width: 35px;
}
.th-no-label-space {
  width: 35px;
}

.secondary-event-background {
  background-color: #EDECEC;
}

.events-pagination {
  margin-right: 20px;
  margin-top: -5px;
}

.primary-event-big-col {
  width: 230px;
}

.common-cursor {
  cursor: auto;
}
#groupcode{
padding:40px;
margin:40px 0 0 0;
.table-responsive{
padding:20px
}

}
